$card-background-color: #fff;
$card-border-color: #eee;
$card-buttons-color: #555;
$card-buttons-hover-color: #000;
$card-meta-color: #b3b3b3;

$card-sections-padding: 1.5rem 1.5rem 0;

.card {
  background: $card-background-color;
  border: .1rem solid $card-border-color;
  border-radius: .3rem;
  display: block;
  margin: 0 0 1.5rem;
  padding: 0;
  text-align: left;
  z-index: 999;

  &-header {
    padding: $card-sections-padding;
  }

  &-body {
    padding: $card-sections-padding;
  }

  &-footer {
    padding: $card-sections-padding;
  }

  &-title {
    font-size: 1.4em;
    line-height: 1;
    margin-bottom: .5rem;
    margin-top: 0;
    padding-top: 5px;
  }

  &-meta {
    color: $card-meta-color;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
  }

  &-code {

  }

  .avatar {
    float: left;
    margin-right: 20px;
  }

  .btn {
    border: 0;
    color: $card-buttons-color;
    margin-right: 20px;
    padding: 0;

    &:hover {
      color: $card-buttons-hover-color;
    }

  }
}
