@mixin clearfix() {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin toast-variant($color) {
  background: $color;
  border-color: darken($color, 2%);
  color: $core-light-color;
}

@mixin label-base() {
  border-radius: .2rem;
  display: inline;
  font-size: 1em;
  padding: .1em .3em;
  vertical-align: baseline;
}

@mixin label-variant($color) {
  background: $color;
  color: $core-light-color;
}
