$avatar-size-xs: 1.6rem;
$avatar-size-l: 4.8rem;

.avatar {
  border-radius: 50%;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 300;
  height: 3.2rem;
  line-height: 1;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 3.2rem;

  &.avatar--xs {
    font-size: .8rem;
    height: $avatar-size-xs;
    width: $avatar-size-xs;
  }

  &.avatar--l {
    font-size: 2rem;
    height: $avatar-size-l;
    width: $avatar-size-l;
  }

  img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
}
